//ScorePopOut SCSS

//colors
$red: red;

.scorePopOut {
	position: fixed;
	margin: 0 auto;
	left: 0;
	right: 0;
	top: 20px;
	background: $red;
	padding: 5px 10px;
	width: 300px;
	&.show {
		top: 43px;
	}
}
