//ScorePopOut SCSS

//colors
$red: rgba(229, 44, 44, 0.8);

.scorePopOut {
	position: fixed;
	margin: 0 auto;
	left: 0;
	right: 0;
	top: -30px;
	white-space: pre-line;
	background: $red;
	padding: 4px 10px;
	width: 300px;
	border-radius: 0 0 10px 10px;
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
	&.show {
		top: 53px;
	}
	.scoreTitle {
		font-weight: bold;
		font-size: 18px;
		clear: both;
	}
}
