//slideOut SCSS
#slideOut {
  background: rgba(255,255,255,1);
  box-shadow: 0 0 5px rgba(0,0,0,.3);
  position: fixed;
  top: 60px;
  right: -100%;
  width: 98%;
  min-height: 30%;
  padding: 10px;
  z-index: 999;
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  &.open {
    right: 0;
  }
  .glyphicon-remove-sign {
		float: right;
		font-size: 18px;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    &:hover {
      cursor: pointer;
      color: rgba(0, 0, 0, 0.5)
    }
	}
  #boxScoreTabs .tab-content {
    overflow-y: scroll;
    height: 500px;
  }
}
