html, body {
  height: 100%;
  margin: 0;
}
h1 {
  text-decoration: none;
}
h2 {
  font-weight: bold;
}
header {
  position: fixed;
  width: 100%;
}
.navbar {
  margin: 0;
}
footer {
  position: absolute;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
}
footer .container .text-muted {
  margin: 20px 0;
}
.container-fluid > div {
  margin: 70px 0 0;
}
.logo {
  color: white;
  float: right;
  padding: 14px 10px 14px;
  font: normal normal 700 1.25em/1.25em Arial,sans-serif;
}
.navbar-collapse {
  float: left;
}

/*Scores*/
.scoreTableContainer {
  overflow: auto;
}
.gameGroupContainer {
  clear: both;
  overflow: auto;
  margin: 0 0 30px;
}
.gameGroupContainer .completedGamesGroupContainer {
  padding: 0 30px 0 0;
  overflow: hidden;
}
h3 {
  border-bottom: 1px solid #eaeaea;
  font-weight: bold;
}
.scoreTable {
  float: left;
  background-color: #dadada;
  padding: 10px 12px;
  margin: 0 10px 5px 0;
  width: 175px;
  height: 60px;
  cursor: pointer;
  transition:all 0.2s linear;
}
.scoreTable:hover {
  box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 2px 3px rgba(0,0,0,.2);
  background: #EEE;
}
.scoreTable .scores {
  float: left;
}
.scoreTable .timeRemaining {
  float: right;
  text-align: right;
}
.scoreTable .scores .team {
  float: left;
  width: 65px;
}
.scoreTable .scores .score {
  float: left;
  font-weight: bold;
}
.navbar-nav li a {
  transition:all 0.3s ease;
  height: 50px;
  font: normal normal 700 1em/1.5em Arial,sans-serif;
  overflow: hidden;
}
.navbar-nav li a:hover .navAnimBtn{
  margin-top: -4em;
}
.navAnimBtn {
  transition: 0.3s;
  margin-top: 0;
}
.navbar-nav li a.active {
  color: #ffffff;
  background-color: #1967be;
}
.navbar-nav li a span {
  color: white;
  text-decoration: none;
  text-align: center;
  display: block;
  height: 60px;
}
.loader {
  position: fixed;
  top: 46%;
  left: 46%;
  z-index: 999;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
  transition: all 0.35s ease;
  opacity: 0;
}

/*Game Modal*/
.status {
  text-align: right;
  padding: 5px 15px 5px 0;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.050);
  text-transform: uppercase;
}
.teamBlock {
  height: 100px;
  background-position: -10px 50%;
  background-repeat: no-repeat;
  background-size: 165px;
  border-bottom: 1px solid #dad;
}
.teamBlock > div {
  float: right;
  padding: 14px 20px 14px 0;
}
.teamBlock > div span {
  font-size: 50px;
  font-weight: bold;
}
.scoringSummaryContainer {
  overflow-y: auto;
  height: 250px;
  padding: 0px 0 0;
}
.scoringSummaryContainer .period {
  background-color: rgba(5, 5, 5, 0.2);
  font-weight: bold;
  font-size: 18px;
  padding: 5px 0 6px 11px;
  border-left: 5px solid darkred;
}
.scoringSummary {
  padding: 15px 10px 15px 0;
  text-align: right;
}
.odd {
  background-color: none;
}
.even {
  background-color: rgba(115, 5, 15, 0.2);
}


/*Loading Spinner*/
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
